(
    tiles: {
        0: (
            // Empty space
            weight: 2,
            symmetry: 1,
        ),
        1: (
            // Solid block
            weight: 1,
            symmetry: 1,
        ),
    },
    adjacency_rules: [
        // Axis 0 (X+)
        (from: 0, to: 0, axis: 0, allowed: true),
        (from: 0, to: 1, axis: 0, allowed: true),
        (from: 1, to: 0, axis: 0, allowed: true),
        (from: 1, to: 1, axis: 0, allowed: true),
        // Axis 1 (X-)
        (from: 0, to: 0, axis: 1, allowed: true),
        (from: 0, to: 1, axis: 1, allowed: true),
        (from: 1, to: 0, axis: 1, allowed: true),
        (from: 1, to: 1, axis: 1, allowed: true),
        // Axis 2 (Y+)
        (from: 0, to: 0, axis: 2, allowed: true),
        (from: 0, to: 1, axis: 2, allowed: true),
        (from: 1, to: 0, axis: 2, allowed: true),
        (from: 1, to: 1, axis: 2, allowed: true),
        // Axis 3 (Y-)
        (from: 0, to: 0, axis: 3, allowed: true),
        (from: 0, to: 1, axis: 3, allowed: true),
        (from: 1, to: 0, axis: 3, allowed: true),
        (from: 1, to: 1, axis: 3, allowed: true),
        // Axis 4 (Z+)
        (from: 0, to: 0, axis: 4, allowed: true),
        (from: 0, to: 1, axis: 4, allowed: true),
        (from: 1, to: 0, axis: 4, allowed: true),
        (from: 1, to: 1, axis: 4, allowed: true),
        // Axis 5 (Z-)
        (from: 0, to: 0, axis: 5, allowed: true),
        (from: 0, to: 1, axis: 5, allowed: true),
        (from: 1, to: 0, axis: 5, allowed: true),
        (from: 1, to: 1, axis: 5, allowed: true),
    ],
) 